<div class="card ">
	<div class="card-header bg-dark text-white">
		<h1>New Friend</h1>
	</div>
<br/>

<%= render 'form', friend: @friend %>
<br/>
</div>
<br/><br/>
<%= link_to 'Back', friends_path , class:"btn btn-secondary"%>
<br/>

<br/>
<br/>