<!-- Footer -->
<footer class="page-footer font-small blue bg-dark  text-white  fixed-bottom text-center">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="https://graphicscholars.com/"> Shamim Aziz</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->